<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ article?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unsaveArticle()" *ngIf="isSaved">
        <ion-icon name="bookmark" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="saveArticle()" *ngIf="!isSaved">
        <ion-icon name="bookmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" >
        <ion-img [src]="article?.urlToImage" alt="No Image Available"></ion-img>
      </ion-col>
      <ion-col size="12" size-md="6" >
        <div class="content">
          <h2>{{ article?.title }}</h2>
          <p>{{ article?.author }}</p>
          <div [innerHTML]="article?.content"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" (click)="openURL()">Open URL</ion-button>
</ion-content>
