<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="teams">
      <ion-icon name="search-outline"></ion-icon>
    <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="players">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="player-details">
      <ion-icon name="flag"></ion-icon>
      <ion-label>Ireland</ion-label>
    </ion-tab-button>

    

    

  </ion-tab-bar>
  </ion-tabs>
 

