<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Saved Articles</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item button detail lines="inset" class="list-item" *ngFor="let article of savedArticles" (click)="showNewsArticle(article)">
      <ion-thumbnail slot="start">
        <img [src]="article.urlToImage || 'assets/newsicon.png'" alt="Article Image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>



